@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    body{
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(5, 16, 143);
    padding: 10x 40px;
    box-shadow: 2px 5px rgb(246, 255, 0);
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav.log ,img{
        height: 100px;
        width: 160px;
 }  
 nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
 }  
nav ul li a {
  display: block;
  color: red;
  font-size: large;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}
/* header/banner css */
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner div{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner div img{
    width: 100%;
    height: 100;
    object-fit: cover;
    display: block;
}
.banner div div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.banner div div h1{
    font-size: 4rem;
    margin-bottom: 10px;
}
.banner div div p{
    font-size: 1.5rem;
}
section{
    background-color: white;
    padding: 40px;
    text-align: center ;
}
section h1{
    font-size: 2rem;
    margin-bottom: 30px;
    color:black;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimasx(280px, 1fr)) ;
}